<form [formGroup]="loginForm" (ngSubmit)="onSend()">
    <div class="form-outline">
        <label class="form-label" for="username">Username</label>
        <input type="text" class="form-control" formControlName="username" id="username"/>
    </div>
    <div class="form-outline mb-3">
        <label class="form-label" for="password">Password</label>
        <input type="password" formControlName="password" id="password" class="form-control"/>
    </div>
    <div class="text-center">
      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log in</button>
    </div>
</form>
