<div class="card mat-card">
    <div id="education">
      <div class="card-header">
        <h2>Education</h2>
        <div *ngIf="isLogged" class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pencil"></i></a></div>
      </div>
      <ul class="items-list">
        <li *ngFor="let schoolData of myData">
          <div class="data-container">
            <a [href]="schoolData.url">
              <div class="logo-image-container">
                <img [src]="schoolData.img" alt="School logo.">
              </div>
              <div class="list-info">
                  <h3>{{schoolData.name}}</h3>
                  <p>{{schoolData.title}}</p>
                  <h4>{{schoolData.timeStart}} - {{schoolData.timeEnd}}</h4>
                  <h4>{{schoolData.location}}</h4>
              </div>
            </a>
          </div>
          <div class="data-control"></div>
        </li>
      </ul>
    </div>
  </div>
