<div class="card mat-card">
    <div id="education">
      <div class="card-header">
        <h2>Education</h2>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pencil"></i></a></div>
      </div>
      <ul class="items-list">
        <li>
          <div class="data-container">
            <a href="#">
              <div class="logo-image-container">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9LXrHOQ0u83hsvxKNmgN5MjYLl6zV7CcWrX0FaaQ0WQ&s">
              </div>
              <div class="list-info">
                  <h3>Universidad Nacional de la Plata</h3>
                  <p>Computer Engineering</p>
                  <h4>January 2016 - 2018</h4>
                  <h4>La Plata, Argentina.</h4>
              </div>
            </a>
          </div>
          <div class="data-control"></div>
        </li>
      </ul>
    </div>
  </div>