<div class="card mat-card">
    <div class="card-header">
      <h2>Skills</h2>
      <div *ngIf="isLogged" class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pencil"></i></a></div>
    </div>
    <li class="skills" *ngFor="let skillData of myData">
      <div>
        <p class="display-6" style="text-align: center;">{{skillData.name}}</p>
      </div>
      <div class="progress" style="height: 20px; width: 60%; margin: auto;">
        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" [style.width]="skillData.level" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </li>
    <div *ngIf="isLogged" class="info-actions">
      <button type="button" class="btn btn-light">New Aptitude</button>
    </div>
  </div>