<div class="card mat-card" *ngIf="myData?.length || isLogged">
    <div id="experience">
      <div class="card-header">
        <h2>Experience</h2>
        <div *ngIf="isLogged" class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pencil"></i></a></div>
      </div>
      <ul class="items-list">
        <li *ngFor="let jobData of myData">
          <div class="data-container">
            <a [href]="jobData.url">
              <div class="logo-image-container">
                <img [src]="jobData.img" alt="Company logo.">
              </div>
              <div class="list-info">
                  <h3>{{jobData.name}}</h3>
                  <p>{{jobData.position}}</p>
                  <h4>{{jobData.timeStart}} - {{jobData.timeEnd}}</h4>
                  <h4>{{jobData.location}}</h4>
              </div>
            </a>
          </div>
          <div class="data-control"></div>
        </li>
      </ul>
    </div>
  </div>
