<div class="navigation">
    <nav class="navbar fixed-top navbar-dark bg-dark" role="navigation">
      <ul class="nav justify-content-end">
        <a href="#"><img class="nav-item arprog" src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1662441043/APLogo-20-20.png" alt="Argentina Programa"></a>
        <li class="nav-item">
          <a class="navbar-brand" href="mailto:percyers@gmail.com">
            <i class="fa-solid fa-square-envelope fa-xl"></i>
          </a>   
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="https://www.linkedin.com/in/facundo-pascucci/">
            <i class="fa-brands fa-linkedin fa-xl"></i>
          </a>
        </li>
        <li class="nav-item">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </li>
      </ul>
    </nav>
</div>