<div class="card mat-card main-col">
    <div class="card-header">
      <h2>About Me</h2>
      <div class="control-buttons" *ngIf="isLogged && !showEdit">
        <a (click)="this.toggleEdit()" class="btn-edit"><i class="fa fa-pencil"></i></a>
      </div>
    </div>
    <div class="about-info" *ngIf="!showEdit">
      <p class="display-6">{{myData?.about}}</p>
    </div>
    <div class="data-control" *ngIf="isLogged && showEdit">
      <form class="form-edit" [formGroup]="aboutFormEdit" (ngSubmit)="onUpdate(myData.id)">
          <textarea type="text" class="form-control" id="editAbout" formControlName="about" [ngModel]="myData?.about"></textarea><br>
        <button type="submit" class="btn btn-primary submit" style="margin: 0 5px 0 5px;"[disabled]="!aboutFormEdit.valid">Submit</button>
        <button (click)="toggleEdit()" class="btn btn-primary submit" style="margin: 0 5px 0 5px;">Cancel</button>
      </form>
    </div>
  </div>
