<div class="card mat-card" id="first-card">
  <div id="profile-background"><img [src]="myData.profileBg"></div>
  <div id="info" style="padding: 16px">
    <div id="info-img">
      <img class="profile-image" [src]="myData.profilePic">
      <div *ngIf="isLogged" class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pencil"></i></a></div>
    </div>
    <div id="info-data">
      <div id="info-text">
        <h1 class="display-4">{{myData.name}}</h1>
        <div id="info-company" class="lead">{{myData.position}}</div>
        <div id="info-contact" class="lead">
          <span>{{myData.location}}</span>
        </div>
      </div>
      <ul id="info-details">
        <li><a [href]="myData.company.url">
          <img [src]="myData.company.img" [alt]="myData.company.name">
        </a></li>
      </ul>
    </div>
      <a class="card-button" href="https://www.linkedin.com/in/facundo-pascucci/">
        <i class="fa-brands fa-linkedin fa-xl"></i></a>
      <a class="card-button" href="mailto:percyers@gmail.com">
        <i class="fa-solid fa-square-envelope fa-xl"></i></a>
  </div>
</div>