<div class="card mat-card" id="first-card">
  <div id="profile-background"><img [src]="myData.profilebg"></div>
  <div id="info" style="padding: 16px">
    <div id="info-img">
      <img class="profile-image" [src]="myData.profilepic">
      <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pencil"></i></a></div>
    </div>
    <div id="info-data">
      <div id="info-text">
        <h1 class="display-4">{{myData.name}}</h1>
        <div id="info-company" class="lead">{{myData.position}}</div>
        <div id="info-contact" class="lead">
          <span>{{myData.location}}</span>
          <span><a href="#">Contact Info.</a></span>
        </div>
      </div>
      <ul id="info-details">
        <li><a [href]="myData.company.url">
          <img [src]="myData.company.img" [alt]="myData.company.name">
        </a></li>
      </ul>
    </div>
    <div id="info-actions">
      <button class="btn btn-primary" type="button">I'm interested in</button>
      <button class="btn btn-light" type="button">Add Section</button>
      <button class="btn btn-light" type="button">More</button>
    </div>
  </div>
</div>